@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family:  "Montserrat" !important;
  }

  .all{
    height:747px;
    max-height: 100%;
    position: relative;
  }

  .caption{

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
 
  }
  .caption h5 a {
    text-decoration: none;
    color: #000;

  }
  .action{
    width: 330px;
    display: block;
    height: 70px;
    background-color: #0B1957;
    color: #fff;
    font-family:  "Montserrat" !important;
    border: none;
    outline: none;
    border-radius: 10px;

  }
  .robot{
    position: relative;
  }
.Background{
    background-image: url(../assets/back.png);
    width: 100%;
    height: 747px;
    padding: 0px !important;
    margin: 0px!important;
    position: sticky;

}
.analysis{
    position: absolute;
    bottom: 0px;
    width:677.12px ;
    left: 58px;
    
}


label{
    text-align: left;
}

input{
  border: 1px solid  #9ECCFA !important;
}